@import 'tailwindcss';

@theme {
  --color-marca-50: #fdf2f8;
  --color-marca-100: #fce7f3;
  --color-marca-600: #db2777;
  --color-marca-700: #be185d;
  --color-marca-800: #9d174d;
}

body {
  @apply bg-zinc-50 text-zinc-900 antialiased;
}
